<h1>Products</h1>
<%= link_to "back", :back %>

<ul>
  <li>Product Name: <%= @product.name %></li>
  <li>Product Description: <%= @product.description %></li>
  <li>Product price: <%= @product.formatted_price %></li>
</ul>

<h3>Categories</h3>
<% @product.categories.each do |category| %>
  <p>
    <%= category.name %>, &nbsp
  </p>
<% end %>

<% if current_user %>
  <h4>New Review</h4>
  <div id="review-form-errors">
    <%= render :partial => "/products/review_form_errors" %>
  </div>
  <%= form_for [@product, @review], remote: true do |f| %>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review. </p>
<% end %>

<h3>Reviews</h3>

<p>Reviews for <%= @product.name %></p>
<div id="review-list">
  <%= render @product.reviews.order(created_at: :asc) %>
</div>

<script type="text/javascript">
$(function(){
  $("#new_review")
    .on('ajax:beforeSend', function(){
      $("input[type='submit']")
        .val('Saving...')
        .attr('disabled', 'disabled')
    })
    .on('ajax:complete', function(){
      $("input[type='submit']")
        .val('Create Review')
        .removeAttr('disabled');
    });
});
</script>
