<h1>Products</h1>
<%= link_to "back", :back %>

<ul>
  <li>Product Name: <%= @product.name %></li>
  <li>Product Description: <%= @product.description %></li>
  <li>Product price: <%= @product.formatted_price %></li>
</ul>

<% if current_user %>
  <h4>New Review</h4>

  <%= form_for [@product, @review], remote: true do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explination">
        <%= render partial: 'shared/flash', locals: { object: @product } %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review. </p>
<% end %>

<h3>Reviews</h3>

<p>Reviews for <%= @product.name %></p>
<div id="review-list">
  <% @product.reviews.order(created_at: :desc).each do |review| %>
    <div class="review">
      <% if review.user != nil %>
        <div class="poster">
          <em>by <%= review.user.email %></em>
          Added on: <%= review.created_at %>
        </div>
        <p class="comment">
          <%= review.comment %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<h3>Categories</h3>

<% @product.categories.each do |category| %>
  <p>
    <%= category.name %>, &nbsp
  </p>
<% end %>
